/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #FAEBE0;
  color: black;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 98.6%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 10px;
  padding-top: 60px;
  width: 80%;
}

.demo h1 {
  margin-top: 0;
}

.demo h2, p, h1 {
  padding: 5px;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color: #C9E4C5;
  text-align: center;
}

 ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C9E4C5;
}

li .left{
  float: left;
}

li .right {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #B5CDA3;
}

.active {
  background-color: #B5CDA3;
}

#main{
 padding: 10px;
 float: left;
 width: 500px;
 height: 333px;
 border-radius: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 15% 15% 15%;
  grid-gap: 10px;

  color: #444;
}

.box {
  background-color: #C1AC95;
  color: #black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

iframe, video, audio{
 width: 350px;
 height: 210px;
 margin-left: 15px;
}
